@import "fonts/TTNormsPro.css";

* {
    padding: 0%;
    margin: 0%;
    display: block;
    box-sizing: border-box;
}
head{
    display: none;
}
script {
    display: none;
}
body{
    width: 100%;
    height: 100%;
    /* background: linear-gradient(30deg, rgba(10,10,10,1) 0%, rgb(18, 18, 18) 50%); */
    background: linear-gradient(30deg, rgba(10,10,10,1) 0%, rgb(21, 21, 21) 50%);
    font-family: TTNormsPro;
}
.h1, .h2, .h2, .h3, .h4, .h6, h1, h2, h2, h3, h4, h6, p {
    line-height: 1.2 !important;
    margin-bottom: 0 !important;
}
a {
    color: var(--white);
}
header {
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: black;
    z-index: 10000;
    display: flex;
    align-items: center;
}
header .logospace {
    width: 13.2%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header #logo {
    width: auto;
    height: 43.63px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 150px;
}
header .pages {
    width: 86.8%;
    height: 100px;
    display: flex;
    align-items: center;
    right: 0;
    position: absolute;
}
header .pages .socials {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .pages .youtube .bi {
    font-size: 26px;
    color: rgba(255, 255, 255, .3);
    transition: all .3s ease-in-out;
}
header .pages .youtube .bi:hover {
    color: var(--white);
    transition: all .3s ease-in-out;
}
header .pages .youtube .bi:focus {
    color: var(--white);
    transition: all .3s ease-in-out;
}
header .pages .youtube #yt {
    margin-top: 2px;
}
header .pages a {
    text-decoration: none;
    margin-left: 25px;
}
header #pagename_active {
    color: var(--white);
    font-size: 18px;
    text-transform: uppercase;
}
header #pagename {
    color: rgba(255, 255, 255, .3);
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}
header #pagename:hover {
    color: var(--white);
    transition: all .3s ease-in-out;
}
header #pagename:focus {
    color: var(--white);
    transition: all .3s ease-in-out;
}
.spaceblock {
    width: 100%;
    height: 100px;
    z-index: 5;
}
.infoblock {
    width: 100%;
    height: 70px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxreview {
    position: absolute;
    top: 14%;
    right: 15.36%;
    /* background-color: rgba(0, 0, 0, 0.1); */
    height: auto;
    width: 1022px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
}
.boxreview .infoblock h1, h2, h2 {
    /* text-transform: uppercase; */
    font-weight: 500;
    font-size: 16px;
    color: var(--white);
    text-align: center;
    width: 78%;
}
.boxreview .infoblock {
    width: 95.8%;
    background-color: var(--opacback);
    box-shadow: 0 1px 6px 0 rgba(0,0,0,.15);
    border-radius: 5px;
    margin-top: 0;
}
.boxreview .plusminus {
    width: 95.8%;
    height: 324px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    top: 100px;
}
.boxreview .plusminus .criteria {
    width: 479.5px;
    height: 286px;
    border-radius: 5px;
    box-shadow: 0 1px 6px 0 rgba(0,0,0,.15);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.boxreview .plusminus .criteria .par p, li {
    text-align: start;
    display: flex;
    justify-content: flex-start !important;
}
.boxreview .plusminus .criteria .par h2 {
    position: absolute;
    text-align: start;
    width: 170px;
    top: 130px;
    color: var(--white);
}
.boxreview .plusminus .criteria .par li {
    font-size: 16px;
    font-weight: 500;
    color: var(--white);
    margin-top: 10px;
}
.boxreview .plusminus .criteria .par {
    width: 394px;
    margin-left: 30px;
    height: 70%;
    margin-top: 18%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.boxreview .plusminus .criteria .par i {
    opacity: 1;
    color: var(--white);
    font-size: 16px;
    width: 0px;
    height: 0px;
}
.boxreview .plusminus .criteria .par i::before {
    margin-bottom: 15px;
}
.boxreview .plusminus .criteria i {
    opacity: 1;
    color: var(--white);
    font-size: 40px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 15px 0px 0px;
}
.boxreview .plusminus .criteria:nth-child(1) i {
    color: rgb(15, 207, 79);
    opacity: .9;
}
.boxreview .plusminus .criteria:nth-child(2) i {
    color: rgb(207, 37, 15);
    opacity: .9;
}
.boxreview .plusminus .criteria:nth-child(1) {
    background: linear-gradient(150deg, rgba(0,0,0,.3) 0%, rgba(0, 0, 0, .3) 60%, rgba(15, 207, 79, .1) 100%);
}
.boxreview .plusminus .criteria:nth-child(2) {
    background: linear-gradient(150deg, rgba(0,0,0,.3) 0%, rgba(0, 0, 0, .3) 60%, rgba(207, 37, 15, .1) 100%);
}
.boxreview .smallreview, .instruction {
    width: 95.8%;
    height: auto;
    background-color: var(--opacback);
    box-shadow: 0 1px 6px 0 rgba(0,0,0,.15);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 30px 0px 30px 0px;
    border-radius: 5px;
}
.features {
    width: 95.8%;
}
.features, .gamemodes {
    height: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 5px;
}
.gamemodes {
    position: absolute;
    bottom: 204px;
    z-index: 2;
}
.features .featuresbox {
    width: 100%;
    border-radius: 5px;
    background: linear-gradient(150deg, rgba(0,0,0,.3) 0%, rgba(0,0,0,.3) 10%, rgba(0, 0, 0, .3) 50%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 1px 6px 0 rgb(0 0 0 / 15%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.gamemodes .featuresbox {
    width: 100%;
    border-radius: 5px 5px 0 0;
    background: linear-gradient(150deg, rgba(0,0,0,.3) 0%, rgba(0,0,0,.3) 10%, rgba(0, 0, 0, .3) 50%, rgba(255, 255, 255, 0) 100%);
    /* background-color: var(--opacback); */
    box-shadow: 0 1px 6px 0 rgb(0 0 0 / 15%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.features .featuresbox .typesinside,
.gamemodes .featuresbox .typesinside {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
}
.features .featuresbox .typesinside img {
    margin: 12px 0 12px 12px;
    width: 32px;
    height: 32px;
}
.gamemodes .featuresbox .typesinside img {
    transform: scale(0.8);
}
.gamemodes .featuresbox .typesinside img:hover {
    transform: scale(1);
    transition: ease-in-out all .4s;
}
.boxreview .instruction {
    margin-top: 19px;
}
.infoblock h1, h2, h2, h3 {
    /* text-transform: uppercase; */
    font-weight: 600;
    font-size: 22px;
    color: var(--red);
    text-align: center;
}
.infoblock #PageTitle, #PageSubt {
    color: var(--white);
}
.smallreview p {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
}
.smallreview p:nth-child(3) {
    font-weight: 400;
}
.smallreview h2 {
    height: 28.8px;
    margin-bottom: 30px !important;
}
.smallreview p {
    height: 80px;
    width: 100%;
    text-align: center;
}
.smallreview p {
    height: 100px;
    font-size: 18px;
    width: 90%;
}
.ratingsumm {
    margin-top: 19px;
    width: 95.8%;
    height: 100px;
    background-color: var(--opacback);
    box-shadow: 0 1px 6px 0 rgba(0,0,0,.15);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    color: var(--white);
    padding: 30px 0px 30px 0px;
    border-radius: 5px;
}
.ratingthings {
    width: 90%;
    display: flex;
    height: 80%;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.ratingthings .ratingway {
    height: 120px;
    width: 150px;
    display: flex;
    font-size: 18px;
    font-weight: 600;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    color: var(--white);
}
.ratingthings .ratingway span {
    margin-right: 10px;
}
.ratingthings .ratingway .starfull, .starhalf {
    color: var(--red);
}
.instruction {
    display: flex;
    align-items: center;
    justify-content: center;
}
.instruction h2 {
    height: auto;
    margin-bottom: 30px !important;
}
.instruction ol {
    width: 90%;
}
.instruction li {
    color: var(--white);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    height: 32px;
    align-items: center;
}
.instruction code {
    border-top: 1px solid #202020;
    border-bottom: 2px solid #202020;
    background-color: #1c1c1c;
    padding: 3px 7px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
}
.instruction code:hover {
    border-top: 1px solid #272727;
    border-bottom: 2px solid #272727;
    background-color: #202020;
}
.screentable {
    width: 95.8%;
    height: 550px;
    background-color: var(--opacback);
    box-shadow: 0 1px 6px 0 rgba(0,0,0,.15);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 15px 0px 15px 0px;
    border-radius: 5px;
    margin: 19px 0 0 0;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.screentable:hover {
    transform: scale(1.0);
    transition: all ease-in-out 1s;
}
.infoblock button {
    background-color: transparent;
    border: none;
    outline: none;
    font-family: TTNormsPro;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px;
    padding: 6px;
    border-radius: 5px;
    transition: all .3s ease-in-out;
    color: rgba(255, 255, 255, .3);
    margin-left: 2px;
    margin-top: 3px;
}
.infoblock button:focus {
    color: var(--white);
    transition: all .3s ease-in-out;
}
.infoblock button:hover {
    color: var(--white);;
    transition: all .3s ease-in-out;
}

#FAQ {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 0px;
    transition: all 1.1s ease-in-out;
    /* background: linear-gradient(150deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 10%, rgba(0, 0, 0, .3) 50%, rgba(255, 255, 255, 0) 100%); */
    background: linear-gradient(56deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 14%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0) 86%, rgba(0,0,0,0) 100%);
    overflow: hidden;
}
#FAQ #PageSubt {
    width: 1000px;
    height: 160px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: none;
}
header img {
    height: auto;
    width: 100px;
    opacity: .95;
}
.firstline, .secondline, .thirdline{
    top: 180px;
    width: 100%;
    height: 400px;
    justify-content: center;
    display: flex;
    margin-top: 30px;
}
.sitepage {
    height: 1770px;
    width: 100%;
    justify-content: center;
    display: flex;
    margin-top: 30px;
}
.sitepage .box {
    position: fixed;
    margin-right: 0;
    left: 15.36%;
    top: 14%;
}
.sitepage .box .content button {
    background-color: var(--red);
}
.sitepage .box .content button:hover {
    background-color: #62101d;
}
.box{
    position: relative;
    width: 300px;
    height: 400px;
    margin-right: 30px;
    border-radius: 10px;
    /* background: linear-gradient(150deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 10%, rgba(255, 255, 255, .22) 50%, rgba(255, 255, 255, 0) 100%); */
    background: linear-gradient(150deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 10%, rgba(0, 0, 0, .3) 50%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 1px 6px 0 rgba(0,0,0,.15);
}

.sitepage .box{
    height: 300px;
}
.sitepage .box .logobg {
    height: 70%; 
}
.sitepage .box .content {
    height: 30%; 
}
.sitepage .box .content h2 {
    margin-top: 11px;
    font-weight: 700;
}
.sitepage .box .logobg .rating {
    width: 27%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: var(--red);
    font-size: 18px;
    position: absolute;
    top: 175px;
}

.box:hover {
    /* background: linear-gradient(150deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 10%, rgba(143, 40, 40, 0.3) 50%, rgba(255, 255, 255, 0) 100%) !important; */
    background: linear-gradient(150deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 10%, rgba(65, 65, 65, 0.3) 50%, rgba(255, 255, 255, 0) 100%) !important;
    transform: scale(1.03);
    transition: all .3s ease-in-out;
}

.box .logobg {
    /* background: linear-gradient(180deg, rgba(0,0,0,.5) 0%, rgba(0,0,0,.7) 100%); */
    background: linear-gradient(180deg, rgba(0,0,0,.1) 0%, rgba(0,0,0,.2) 100%);
    top: 0;
    width: 100%;
    height: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0 0;
}

.box .logobg a {
    height: 200px !important;
    width: 300px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box .logobg img {
    bottom: 200px;
    width: 200px;
    height: auto;
}
.box .logobg .best {
    right: 0;
    top: 0;
    position: absolute;
    width: 50%;
    height: 30px;
    background-color: var(--red);
    /* background-color: var(--grey); */
    border-radius: 0px 5px 0px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: TTNormsPro;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    color: white;
}

.sitepage .box .logobg .best {
    display: none;
}

.box .content {
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    z-index: 1;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box .content::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    /* background: linear-gradient(120deg, rgba(0,0,0,.2) 0%,  rgba(0,0,0,0) 100%); */
    border-radius: 0 0 10px 10px;
    z-index: -1;
}

.content h2{
    color: var(--white);
    font-weight: 600;
    font-size: 22px;
    margin-top: 15px;
    text-transform: uppercase;
}
.content p{
    color: var(--white);
    font-weight: 400;
    font-size: 12px;
    margin-top: 13px;
    width: 210px;
    text-align: center;
    /* text-transform: uppercase; */
}
.content p:nth-child(2){
    height: 55px;
}
.content p:nth-child(3){
    color: var(--white);;
    font-weight: 600;
    font-size: 11px;
    width: 180px;
    text-align: center;
    text-transform: uppercase;
}
.content span {
    display: none;
}
.content button{
    background-color: var(--grey);
    bottom: 15px;
    position: absolute;
    border: none;
    outline: none;
    font-family: TTNormsPro;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    padding: 6px;
    border-radius: 5px;
    transition: all .3s ease-in-out;
    color: white;
}
.content button:hover{
    background: var(--blackgrey);
}
.content button:focus{
    background: var(--blackgrey);
}
.conent button:active {
    background: transparent !important;
    color: #ffffff00 !important;
}
.content button:hover:active{
    opacity: 0;
}
.content button#copy {
    width: 25px;
    height: 25px;
    right: 20px;
    border-radius: 50%;
    background-size: cover;
}
.credits {
    color: rgba(255, 255, 255, .1);
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    text-transform: uppercase;
}
@media screen and (max-width: 1340px) {
    .infoblock h1, h2, h2 {
        font-size: 20px;
    }
    .firstline, .secondline, .thirdline{
        width: 100%;
        height: 100%;
        display: flex;
        margin-top: 30px;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 0;
    }
    .box{
        margin-right: 0;
        margin-top: 30px;
    }
    header #pagename {
        font-size: 13px;
    }
    header #pagename_active {
        font-size: 13px;
    }
    header .logospace {
        width: 23.2%;
    }
    header .pages {
        width: 76.8%;
    }
    header img {
        width: 80px;
    }
    header .pages a {
        margin-left: 18px;
    }
    #FAQ #PageSubt {
        font-size: 12px;
    }
}
  
  
  input {
    position: absolute;  
    opacity: 0;
    margin-top: 0px;
    margin-left: 5px;
    cursor: pointer;
  }
  
  label {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: solid 2px rgba(255, 255, 255, 0.4);
    border-radius: 999px;
    background-color: transparent;
    margin: 0 6px 0 6px;
    z-index: 2;
    cursor: pointer;
    transition-duration: .4s;
    box-shadow: 0 0 20px 0 #000;
  }

  input:checked + label{
    background-color: white;
    border: solid 2px white;
  }

  input + label::after{
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' style='fill:white'%3E%3Cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center 52%;
    background-size: 40px 40px;
    transition: background-size 200ms;
    position: absolute;
    color: white;
    left: 0px;
    bottom: 0px;
    height: 550px;
    width: 80px;
    z-index: 20;
  }
  
  input + label:hover::after {
    background-size: 45px 45px;
  }
  
  input:checked + label::after {
    background-image: none;
    left: 0;
    z-index: 10;
  }
  
  input:checked + label + .slide ~ input + label::after {
    display: none;
  }
  
  input:checked + label + .slide + input + label::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' style='fill:white'%3E%3Cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z' /%3E%3C/svg%3E");
    display: block;
    width: 80px;
    right: 0;
    left: auto;
  }
  
  input:focus + label{
    border: solid 2px white;
  }
  
  .slide {
    position: absolute;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 980px;
    height: 550px;
    top: 0px;
    left: 0px;
    transform: translateX(-100%);
    transition-duration: .4s;
    opacity: 1;
    z-index: -1;
  }
  
  input:checked ~ .slide {
    transform: translateX(100%);
  }
  
  input:checked + label + .slide {
    transform: translateX(0);
    opacity: 1;
  }
  .slide img {
    object-fit: cover;
    width: 100%;
    height: auto;
  }