@import "fonts/TTNormsPro.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-color: #000000 #0c0c0c;
    scrollbar-width: thin; 
}
head{
    display: none;
}
script {
    display: none;
}
html {
    overflow-x: hidden;
    box-sizing: border-box;
}
body{
    /* background: linear-gradient(30deg, rgba(10,10,10,1) 0%, rgb(18, 18, 18) 50%); */
    background: linear-gradient(30deg, rgba(10,10,10,1) 0%, rgb(21, 21, 21) 50%);
    font-family: TTNormsPro;
    overflow: overlay;
    margin: 0 auto;
    padding: 0;
}
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, .95);
  }
   
  ::-webkit-scrollbar-thumb {
    /* background: rgba(255, 255, 255, .1);  */
    background: rgba(0, 0, 0, 0.35);
    border-radius: 5px;
  }
  

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    /* background: var(--red);  */
    background: #000000;
  }
.h1, .h2, .h2, .h3, .h4, .h6, h1, h2, h2, h3, h4, h6, p {
    line-height: 1.2 !important;
    margin-bottom: 0 !important;
}
a {
    color: var(--white);
}
nav {
    position: fixed;
    width: 100%;
    height: 100px;
    background: linear-gradient(0deg, #101010 0%, #0d0d0d 100%);
    z-index: 10000;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    /* border: solid var(--red);
    border-width: 0px 0 2px 0; */}
nav .logospace {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    left: 16%;
    position: absolute;
}
nav #logo {
    width: auto;
    height: 43.63px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 150px;
}
nav .pages {
    height: 100px;
    display: flex;
    align-items: center;
    position: absolute;
    left: 25.7%;
}
nav .socials {
    height: 50px;
    width: auto;
    margin-left: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 17.1%;
}
nav .youtube .bi {
    font-size: 26px;
    color: rgba(255, 255, 255, .3);
    transition: all .3s ease-in-out;
}
nav .youtube .bi:hover {
    color: var(--white);
    transition: all .3s ease-in-out;
}
nav .youtube .bi:focus {
    color: var(--white);
    transition: all .3s ease-in-out;
}
nav .youtube {
    margin-top: 4px;
}
nav .pages a {
    text-decoration: none;
}
nav #pagename_active {
    color: var(--white);
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}
nav #pagename {
    color: rgba(255, 255, 255, .3);
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}
nav #pagename:hover {
    color: var(--white);
    transition: all .3s ease-in-out;
}
nav #pagename:focus {
    color: var(--white);
    transition: all .3s ease-in-out;
}
.spaceblock {
    height: 100px;
    z-index: 5;
}
.infoblock {
    height: 70px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxreview {
    position: relative;
    left: 149px;
    height: auto;
    width: 1022px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    background: linear-gradient(180deg, rgba(0,0,0,.3) 0%, rgba(0,0,0,.3) 10%, rgba(0, 0, 0, .3) 50%, rgba(255, 255, 255, 0) 100%);
    padding-top: 10px;
}
.boxreview .infoblock h1, h2, h2 {
    font-weight: 500;
    font-size: 16px;
    color: var(--white);
    width: 95%;
}
.boxreview .infoblock {
    width: 98%;
    background-color: var(--opacback);
    
    border-radius: 5px;
    margin-top: 0;
}
.boxreview .plusminus {
    width: 98%;
    height: 304px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    top: 100px;
}
.boxreview .plusminus .criteria {
    width: 49.5%;
    min-height: 286px;
    border-radius: 5px;
    
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.boxreview .plusminus .criteria .par p, li {
    text-align: start;
    display: flex;
    justify-content: flex-start !important;
}

.boxreview .plusminus .criteria .par h2 {
    position: relative;
    text-align: start;
    width: 170px;
    top: 0px;
    right: 5px;
    color: var(--white);
}
.boxreview .plusminus .criteria .par li:nth-child(2) {
    margin-top: 30px;
}
.boxreview .plusminus .criteria .par li {
    font-size: 16px;
    font-weight: 500;
    color: var(--white);
    margin-top: 10px;
}
.boxreview .plusminus .criteria .par {
    width: 394px;
    margin-left: 32px;
    height: 70%;
    margin-top: 45px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.boxreview .plusminus .criteria .par i {
    opacity: 1;
    color: var(--white);
    font-size: 16px;
    width: 0px;
    height: 0px;
}
.boxreview .plusminus .criteria .par i::before {
    margin-bottom: 13px;
}
.boxreview .plusminus .criteria i {
    opacity: 1;
    color: var(--white);
    font-size: 40px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 15px 0px 0px;
}
.boxreview .plusminus .criteria i:nth-child(1) {
    margin: 15px 15px 0px 0px;
}
.boxreview .plusminus .criteria:nth-child(1) i {
    color: var(--green);
    opacity: .9;
}
.boxreview .plusminus .criteria:nth-child(2) i {
    color: var(--red);
    opacity: .9;
}
.boxreview .plusminus .criteria:nth-child(1) {
    /* background: linear-gradient(150deg, rgba(0,0,0,.3) 0%, rgba(0, 0, 0, .3) 60%, rgba(15, 207, 79, .1) 100%); */
    background: linear-gradient(150deg, rgba(0, 0, 0, 0) 30%, rgba(15, 207, 79, .09) 100%);
    background-color: transparent;
}
.boxreview .plusminus .criteria:nth-child(2) {
    /* background: linear-gradient(150deg, rgba(0,0,0,.3) 0%, rgba(0, 0, 0, .3) 60%, rgba(207, 37, 15, .1) 100%); */
    background: linear-gradient(150deg, rgba(0, 0, 0, 0) 30%, rgba(207, 37, 15, .09) 100%);
    background-color: transparent;
}
.boxreview .smallreview, .instruction {
    width: 98%;
    height: auto;
    background-color: transparent;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 30px 0px 0px 0px;
    border-radius: 5px;
}
.siteleftpannel .navigation-menu {
    position: relative;
    width: 300px;
    height: 50px;
    margin-top: 9px;
    border-radius: 10px;
    background-color: rgba(0,0,0,.2);
    padding: 10px 0;
    overflow: hidden;
    box-shadow: 0 1px 6px 0 rgb(0 0 0 / 15%);
    transition: height 1.1s ease-in-out;
}
.navigation-menu .navigation-title i {
    margin-left: 10px;
    transform: rotate(0deg);
    transition: transform ease-in-out .6s;
}
.navigation-menu.active .navigation-title i {
    margin-left: 10px;
    transform: rotate(180deg);
    transition: transform ease-in-out .6s;
}
.navigation-menu:hover.active {
    background: linear-gradient(150deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 10%, rgba(65, 65, 65, 0.3) 50%, rgba(255, 255, 255, 0) 100%) !important;
}
.navigation-menu:hover {
    background: linear-gradient(150deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 10%, rgba(65, 65, 65, 0.3) 50%, rgba(255, 255, 255, 0) 100%) !important;
}
.siteleftpannel .navigation-menu.active {
    height: 200px;
}
.siteleftpannel .navigation-menu .navigation-title {
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    vertical-align: baseline;
    width: 100%;
    right: 0;
    margin: 0 auto; 
    text-transform: uppercase;
}
.siteleftpannel .navigation-menu .navigation-space {
    height: 1px;
    background: linear-gradient(56deg, rgba(0,0,0,0) 0%, rgba(255,255,255,.1) 50%, rgba(0,0,0,0) 100%);
    /* background-color: rgb(255,255,255,.05); */
    width: 35%;
    right: 0;
    margin: 10px auto; 
}
.title-space {
    height: 2px;
    /* background-color: rgb(255,255,255,.05); */
    background: linear-gradient(56deg, rgba(0,0,0,0) 0%, rgba(255,255,255,.05) 50%, rgba(0,0,0,0) 100%);
    width: 90%;
    right: 0;
    margin: 40px auto;
}
.siteleftpannel .navigation-menu li {
    color: rgb(255,255,255,.3);
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    display: list-item;
    list-style: decimal;
    vertical-align: baseline;
    padding: 6px 2px;
    width: 80%;
    right: 0;
    margin: 0 auto;
}
.siteleftpannel .navigation-menu li:hover,
.siteleftpannel .navigation-menu li:hover::marker {
    color: white;
    transition: .2s all ease-in-out;
}
.siteleftpannel .navigation-menu ul a {
    text-decoration: none;
}
.features {
    width: 98%;
}
.features, .gamemodes {
    height: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 5px;
}
.gamemodes {
    position: absolute;
    bottom: 5px;
    z-index: 2;
}
.features .featuresbox {
    width: 100%;
    border-radius: 5px;
    /* background: linear-gradient(150deg, rgba(0,0,0,.3) 0%, rgba(0,0,0,.3) 10%, rgba(0, 0, 0, .3) 50%, rgba(255, 255, 255, 0) 100%); */
    /* box-shadow: 0 1px 6px 0 rgb(0 0 0 / 15%); */
    display: flex;
    align-items: center;
    justify-content: center;
}
.gamemodes .featuresbox {
    width: 100%;
    border-radius: 5px 5px 0 0;
    background: linear-gradient(150deg, rgba(0,0,0,.3) 0%, rgba(0,0,0,.3) 10%, rgba(0, 0, 0, .3) 50%, rgba(255, 255, 255, 0) 100%);
    /* background-color: var(--opacback); */
    box-shadow: 0 1px 6px 0 rgb(0 0 0 / 15%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.features .featuresbox .typesinside,
.gamemodes .featuresbox .typesinside {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
}
.features .featuresbox .typesinside img {
    width: 96px;
    height: 32px;
}
.features .featuresbox .typesinside img#nobonus {
    margin: 12px 0 12px 22px;
}
.features .featuresbox .typesinside a:hover {
    transform: scale(1.05);
    background-color: var(--red);
    transition: ease-in-out all .2s;
    color: white;
}
.gamemodes .featuresbox .typesinside a {
    transform: scale(0.8);
    height: 32px;
    width: 32px;
}
.gamemodes .featuresbox .typesinside a {
    height: 32px;
    width: 32px;
}
.gamemodes .featuresbox .typesinside a {
    margin: 0 !important;
}
.gamemodes .featuresbox .typesinside a:hover {
    transform: scale(1);
    transition: ease-in-out all .2s;
}
.features .featuresbox .typesinside a {
    margin: 12px 0 12px 9px;
    transition: ease-in-out all .2s;
    height: 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 2px 10px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    /* border: rgba(255, 255, 255, .1) 1px solid; */
    /* border: black 2px dashed; */
    /* background-color: #a81d34; */
    color: var(--white);
    background-color: #1f1f1f;
    /* filter: grayscale(1); */
}
.typesinside a:nth-child(1) {
    margin: 12px 0 12px 22px;
}
.gamemodes .featuresbox .typesinside a::before {
    content: '';
}
.sitedetails .methodlist a::before {
    content: '';
}
/* Gamemodes Images List Start */

.typesinside .csgo::before {                    
    background-image: url(/img/minipics/gamemodes/esports.png);
}
.typesinside .sport::before {
    background-image: url(/img/minipics/gamemodes/realsport.png);
}
.typesinside .slots::before {
    background-image: url(/img/minipics/gamemodes/slots.png);
}
.typesinside .slotsduels::before {
    background-image: url(/img/minipics/gamemodes/slotsduels.png);
}
.typesinside .livedealer::before {
    background-image: url(/img/minipics/gamemodes/livedealer.png);
}
.typesinside .poker::before {
    background-image: url(/img/minipics/gamemodes/poker.png);
}
.typesinside .blackjack::before {
    background-image: url(/img/minipics/gamemodes/blackjack.png);
}
.typesinside .baccarat::before {
    background-image: url(/img/minipics/gamemodes/baccarat.png);
}
.typesinside .wheel::before {
    background-image: url(/img/minipics/gamemodes/wheel.png);
}
.typesinside .roulette::before {
    background-image: url(/img/minipics/gamemodes/roulette.png);
}
.typesinside .jackpot::before {
    background-image: url(/img/minipics/gamemodes/jackpot.png);
}
.typesinside .crash::before {
    background-image: url(/img/minipics/gamemodes/crash.png);
}
.typesinside .coinflip::before {
    background-image: url(/img/minipics/gamemodes/coinflip.png);
}
.typesinside .cases::before {
    background-image: url(/img/minipics/gamemodes/cases.png);
}
.typesinside .casebattles::before {
    background-image: url(/img/minipics/gamemodes/casebattles.png);
}
.typesinside .upgrader::before {
    background-image: url(/img/minipics/gamemodes/upgrader.png);
}
.typesinside .duels::before {
    background-image: url(/img/minipics/gamemodes/duels.png);
}
.typesinside .plinko::before {
    background-image: url(/img/minipics/gamemodes/plinko.png);
}
.typesinside .dice::before {
    background-image: url(/img/minipics/gamemodes/dice.png);
}
.typesinside .towers::before {
    background-image: url(/img/minipics/gamemodes/towers.png);
}
.typesinside .mines::before {
    background-image: url(/img/minipics/gamemodes/mines.png);
}
.typesinside .hilo::before {
    background-image: url(/img/minipics/gamemodes/hilo.png);
}
.typesinside .mining::before {
    background-image: url(/img/minipics/gamemodes/mining.png);
}
.typesinside .offerwalls::before {
    background-image: url(/img/minipics/gamemodes/earning.png);
}
.typesinside .playing::before {
    background-image: url(/img/minipics/gamemodes/playing.png);
}
.typesinside .trade-skins::before {
    background-image: url(/img/minipics/gamemodes/exchanger.png);
}
.typesinside .buy-skins::before {
    background-image: url(/img/minipics/gamemodes/buyingskins.png);
}
.typesinside .sell-skins::before {
    background-image: url(/img/minipics/gamemodes/sellingskins.png);
}
.typesinside .giveaways::before {
    background-image: url(/img/minipics/gamemodes/giveaways_mode.png);
}
.typesinside .steamlvlup::before {
    background-image: url(/img/minipics/gamemodes/steamlvlup.png);
}
.typesinside .rental::before {
    background-image: url(/img/minipics/gamemodes/rental.png);
}

/* Gamemodes Images List End */

/* Payment Methods Start */

.methodlist .csgo::before {
    background-image: url(/img/minipics/payments/csgo.png);
}
.methodlist .dota::before {
    background-image: url(/img/minipics/payments/dota.png);
}
.methodlist .rust::before {
    background-image: url(/img/minipics/payments/rust.png);
}
.methodlist .tf2::before {
    background-image: url(/img/minipics/payments/tf2.png);
}
.methodlist .visa::before {
    background-image: url(/img/minipics/payments/visa.png);
}
.methodlist .mastercard::before {
    background-image: url(/img/minipics/payments/mastercard.png);
}
.methodlist .paypal::before {
    background-image: url(/img/minipics/payments/paypal.png);
}
.methodlist .paysafe::before {
    background-image: url(/img/minipics/payments/paysafe.png);
}
.methodlist .skrill::before {
    background-image: url(/img/minipics/payments/skrill.png);
}
.methodlist .qiwi::before {
    background-image: url(/img/minipics/payments/qiwi.png);
}
.methodlist .piastrix::before {
    background-image: url(/img/minipics/payments/piastrix.png);
}
.methodlist .webmoney::before {
    background-image: url(/img/minipics/payments/webmoney.png);
}
.methodlist .yumoney::before {
    background-image: url(/img/minipics/payments/yumoney.png);
}
.methodlist .bank-transfer::before {
    background-image: url(/img/minipics/payments/bank-transfer.png);
}
.methodlist .sbp::before {
    background-image: url(/img/minipics/payments/sbp.png);
}
.methodlist .fkwallet::before {
    background-image: url(/img/minipics/payments/fkwallet.png);
}
.methodlist .gpay::before {
    background-image: url(/img/minipics/payments/gpay.png);
}
.methodlist .games::before {
    background-image: url(/img/minipics/payments/games.png);
}
.methodlist .h1z1::before {
    background-image: url(/img/minipics/payments/h1z1.png);
}
.methodlist .apay::before {
    background-image: url(/img/minipics/payments/apay.png);
}
.methodlist .unionpay::before {
    background-image: url(/img/minipics/payments/unionpay.png);
}
.methodlist .g2apay::before {
    background-image: url(/img/minipics/payments/g2apay.png);
}
.methodlist .jeton::before {
    background-image: url(/img/minipics/payments/jeton.png);
}
.methodlist .btc::before {
    background-image: url(/img/minipics/payments/btc.png);
}
.methodlist .btcc::before {
    background-image: url(/img/minipics/payments/btc.png);
}
.methodlist .usdt::before {
    background-image: url(/img/minipics/payments/usdt.png);
}
.methodlist .usdc::before {
    background-image: url(/img/minipics/payments/usdc.png);
}
.methodlist .eth::before {
    background-image: url(/img/minipics/payments/eth.png);
}
.methodlist .ltc::before {
    background-image: url(/img/minipics/payments/ltc.png);
}
.methodlist .bnb::before {
    background-image: url(/img/minipics/payments/bnb.png);
}
.methodlist .bnbpay::before {
    background-image: url(/img/minipics/payments/bnb.png);
}
.methodlist .ripple::before {
    background-image: url(/img/minipics/payments/ripple.png);
}
.methodlist .tron::before {
    background-image: url(/img/minipics/payments/tron.png);
}
.methodlist .doge::before {
    background-image: url(/img/minipics/payments/doge.png);
}
.methodlist .polygon::before {
    background-image: url(/img/minipics/payments/polygon.png);
}
.methodlist .avalanche::before {
    background-image: url(/img/minipics/payments/avalanche.png);
}
.methodlist .cardano::before {
    background-image: url(/img/minipics/payments/cardano.png);
}
.methodlist .solana::before {
    background-image: url(/img/minipics/payments/solana.png);
}
.methodlist .stellar::before {
    background-image: url(/img/minipics/payments/stellar.png);
}
.methodlist .eos::before {
    background-image: url(/img/minipics/payments/eos.png);
}
.methodlist .giftcard::before {
    background-image: url(/img/minipics/payments/giftcard.png);
}
.methodlist .lol::before {
    background-image: url(/img/minipics/payments/lol.png);
}
.methodlist .fortnite::before {
    background-image: url(/img/minipics/payments/fortnite.png);
}
.methodlist .valorant::before {
    background-image: url(/img/minipics/payments/valorant.png);
}
.methodlist .roblox::before {
    background-image: url(/img/minipics/payments/roblox.png);
}
.methodlist .skinsback::before {
    background-image: url(/img/minipics/payments/skinsback.png);
}
.methodlist .skinpay::before {
    background-image: url(/img/minipics/payments/skinpay.png);
}
.methodlist .tradingcards::before {
    background-image: url(/img/minipics/payments/tradingcards.png);
}
.methodlist .kinguingiftcards::before {
    background-image: url(/img/minipics/payments/kinguin.png);
}
.methodlist .waxpeer::before {
    background-image: url(/img/minipics/payments/waxpeer.png);
}
.methodlist .gamemoney::before {
    background-image: url(/img/minipics/payments/gamemoney.png);
}

/* Payment Methods Ends */
.typesinside ::before,
.methodlist ::before {
    border-radius: 5px;
    margin-left: 1px;
    display: inline-block;
    background-size: cover;
    height: 32px;
    width: 32px;
}
.methodlist a {
    margin: 5px;
    height: 32px;
    width: 32px;
}
.star_rating {
    padding: 0 2px;
}
.infoblock h1, h2, h3 {
    /* text-transform: uppercase; */
    font-weight: 600;
    font-size: 22px;
    color: var(--red);
    text-align: center;
}
.pages #PageTitle, #PageSubt,
.infoblock #PageTitle, #PageSubt {
    color: var(--white);
}
.pages #PageTitle, #PageSubt {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
}
.smallreview p {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
}
/* .smallreview p:nth-child(3) {
    font-weight: 500;
} */
.smallreview h2 {
    height: 28.8px;
    margin-bottom: 30px !important;
    text-align: start;
}
.smallreview p {
    text-align: start;
}
.smallreview p {
    height: auto;
    font-weight: 500;
    font-size: 17px;
    width: 95%;
    display: list-item;
    list-style: none;
}
.smallreview p:nth-child(3),
.smallreview p:nth-child(4),
.smallreview p:nth-child(5),
.smallreview p:nth-child(6),
.smallreview p:nth-child(7),
.smallreview p:nth-child(8),
.smallreview p:nth-child(9) {
    margin-top: 30px;
}
.ratingsumm {
    width: 98%;
    height: 100px;
    background-color: var(--opacback);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    color: var(--white);
    padding: 30px 0px 30px 0px;
    border-radius: 5px;
}
.ratingthings {
    width: 95%;
    display: flex;
    height: 80%;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.ratingthings .ratingway {
    height: 120px;
    width: 25%;
    display: flex;
    font-size: 17px;
    font-weight: 600;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    color: var(--white);
}
.ratingthings .ratingway span {
    margin-right: 10px;
}
.ratingthings .ratingway .star_rating, .star_rating {
    color: var(--red);
}
.instruction {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 30px 0px;
}
.instruction h2 {
    height: auto;
    margin-bottom: 30px !important;
    text-align: start;
}
.instruction ol {
    width: 91%;
}
.instruction li {
    color: var(--white);
    text-align: left;
    font-size: 17px;
    font-weight: 500;
    display: list-item;
    list-style: decimal;
    vertical-align: baseline;
    min-height: 30px;
    align-items: center;
    padding: 0 3px;

}
.instruction li a {
    font-weight: 600;
    color: var(--red);
    text-decoration: none;
}
.smallreview p a {
    font-weight: 500;
    color: var(--white);
    text-decoration: none;
}
.instruction li a:hover,
.smallreview p a:hover {
    text-decoration: underline;
}
.instruction li::marker {
    color: var(--red);
    font-weight: 600;
}
.instruction li strong {
    font-weight: 600 !important;
}
.instruction code {
    border-top: 1px solid #202020;
    border-bottom: 2px solid #202020;
    background-color: #1c1c1c;
    padding: 3px 7px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 15px;
}
.instruction code:hover {
    border-top: 1px solid #272727;
    border-bottom: 2px solid #272727;
    background-color: #202020;
}
.screentable {
    width: 98%;
    height: 550px;
    background-color: var(--opacback);
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 15px 0px 15px 0px;
    border-radius: 5px;
    margin: 9px 0 0 0;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.infoblock button,
.pages button {
    background-color: transparent;
    border: none;
    outline: none;
    font-family: TTNormsPro;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px;
    padding: 6px;
    border-radius: 5px;
    transition: all .3s ease-in-out;
    color: rgba(255, 255, 255, .3);
    margin-left: 2px;
    margin-top: 3px;
}
.infoblock button:focus,
.pages button:focus {
    color: var(--white);
    transition: all .3s ease-in-out;
}
.infoblock button:hover,
.pages button:hover {
    color: var(--white);;
    transition: all .3s ease-in-out;
}

#FAQ {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 0px;
    transition: height 1.1s ease-in-out;
    /* background: linear-gradient(150deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 10%, rgba(0, 0, 0, .3) 50%, rgba(255, 255, 255, 0) 100%); */
    background: linear-gradient(56deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 14%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0) 86%, rgba(0,0,0,0) 100%);
    overflow: hidden;
    margin: 9px 0 9px 0;
}
#FAQ #PageSubt {
    width: 1000px;
    height: auto;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: none;
    padding: 15px 0 15px 0;
}
nav img {
    height: auto;
    width: 160px;
    filter: drop-shadow(0px 3px 3px black);
}
.category-selector {
    max-width: 70%;
    height: 100%;
    justify-content: center;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
}
.category-selector .category-box {
    position: relative;
    width: 300px;
    height: 100px;
    margin: 0 9px;
    overflow: hidden;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(0,0,0,.1) 0%, rgba(0,0,0,.3) 100%);
    /* background: linear-gradient(150deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 10%, rgba(0, 0, 0, .5) 50%, rgba(255, 255, 255, 0) 100%); */
    box-shadow: 0 1px 6px 0 rgb(0 0 0 / 15%);
}
.category-selector ul:nth-child(5) .category-box,
.category-selector ul:nth-child(6) .category-box,
.category-selector ul:nth-child(7) .category-box,
.category-selector ul:nth-child(8) .category-box {
    height: 50px !important;
    margin-top: 18px;
}
.category-selector ul:hover .category-box:nth-child(1),
.category-selector .category-box:hover {
    background: linear-gradient(150deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 10%, rgba(65, 65, 65, 0.3) 50%, rgba(255, 255, 255, 0) 100%) !important;
    transform: scale(1.03);
    transition: all .3s ease-in-out;
} 
 /* .category-selector .category-box:hover {
    background: linear-gradient(150deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 10%, rgba(65, 65, 65, 0.3) 50%, rgba(255, 255, 255, 0) 100%) !important;
    transform: scale(1.03);
    transition: all .3s ease-in-out;
}  */
.category-selector .category-box:hover .category-box-logo {
    filter: grayscale(0);
    transition: all .2s ease-in-out;
}
.category-selector .category-box .category-box-logo {
    background: linear-gradient(180deg, rgba(0,0,0,.1) 0%, rgba(0,0,0,.2) 100%);
    height: 100%;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0 0 10px;
    filter: grayscale(1);
}
.category-selector .category-box#active .category-box-logo {
    filter: grayscale(0) !important;
}
.category-selector .category-box .category-box-content {
    position: absolute;
    height: 100%;
    width: 65%;
    right: 0;
    bottom: 0;
    z-index: 1;
    border-radius: 0 0 10px 10px;
    font-weight: 600;
    font-size: 17px;
    text-transform: uppercase;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.boxes-holder {
    max-width: 70%;
    margin: 0 auto;
    width: auto;
    height: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    min-height: 636px;
}
.slider-placer {
    width: 70%;
    margin: 0 auto;
    height: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    box-shadow: 0 1px 6px 0 rgb(0 0 0 / 15%);;
}
.slider-banner {
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 50%;
    border-radius: 5px;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    
    overflow: hidden;
}
.slider-banner img {
    width: 100%;
}
.sitepage {
    justify-content: center;
    display: flex;
    margin-top: 9px;
}
.sitedetails {
    position: absolute;
}
.siteleftpannel {
    position: fixed;
    margin-right: 0;
    left: 285px;
    /* left: 15.36%; */
    top: 109px;
}
.bonusincludes {
    margin-top: 9px;
}
.bonusdesc {
    width: 300px;
    height: 100px;
    background-color: var(--opacback);
    border-radius: 10px;
}
.sitedetails {
    z-index: 1;
    position: relative;
    width: 100%;
}
.sitedetails .sitepros {
    margin-top: 9px;
    width: 98%;
    height: 60px;
    background-color: var(--opacback);
    border-radius: 5px;
    position: relative;
    font-weight: 500;
    color: var(--white);
    display: flex;
    align-items: center;
    transition: height 1.1s ease-in-out;
    box-shadow: 0 1px 6px 0 rgb(0 0 0 / 15%);
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    margin: 9px auto;
}
.sitedetails .methodlist {
    height: auto;
    position: relative;
    transition: height 1.1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    border-radius: 5px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}
.sitedetails .methodlist a:hover {
    transform: scale(1.1);
    transition: transform ease-in-out .2s;
}
.sitedetails .sitepros.active {
    height: 208px;
    transition: height 1.1s ease-in-out;
} 
.sitedetails .sitepros.active.one {
    height: 128px;
    transition: height 1.1s ease-in-out;
} 
.sitedetails .sitepros.active.two {
    height: 168px;
    transition: height 1.1s ease-in-out;
} 
.sitedetails .sitepros.active.three {
    height: 208px;
    transition: height 1.1s ease-in-out;
} 
.sitedetails .sitepros.active.four {
    height: 248px;
    transition: height 1.1s ease-in-out;
} 
.sitedetails .sitepros.active.five {
    height: 288px;
    transition: height 1.1s ease-in-out;
} 
.sitedetails .sitepros span {
    min-height: 60px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    top: 0;
}
.sitepros i {
    margin-left: 10px;
}
.sitedetails .sitepros i {
    transform: rotate(0deg);
    transition: transform ease-in-out .6s;
}
.sitedetails .sitepros.active i {
    transform: rotate(180deg);
    transition: transform ease-in-out .6s;
}
.sitedetails .sitepros:hover.active {
    background: linear-gradient(150deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 10%, rgba(65, 65, 65, 0.3) 50%, rgba(255, 255, 255, 0) 100%) !important;
    /* transform: scale(1); */
}
.sitedetails .sitepros:hover {
    background: linear-gradient(150deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 10%, rgba(65, 65, 65, 0.3) 50%, rgba(255, 255, 255, 0) 100%) !important;
    /* transform: scale(1.03);
    transition:  1.1s ease-in-out; */
}
.sitepage .box {
    margin: 0 !important;
}
.sitepage .box .content button#code_style {
    /* background-color: var(--red); */
    border: var(--red) 1px dashed;
    position: absolute;
    background-color: transparent;
    bottom: 17px;
    padding: 8px 20px;
    /* background-color: var(--red); 
    border: var(--red) 1px dashed;
    position: absolute;
    background-color: var(--red);
    bottom: 17px;
    color: black;
    padding: 8px 20px;
    min-width: 140px;
    font-size: 13px; */
}
.sitepage .box .content button#copy_style {
    border: #a81d34 1px solid; 
    position: absolute;
    background-color: #a81d34; 
    color: var(--white);
    bottom: 17px;
    padding: 8px 20px;
    transition: all .2s ease-in-out;
}
.sitepage .box .content button#copy_style:hover,
.box .content button#copy:hover {
    /* background-color: var(--white); */
    /* border: var(--white) 1px solid;  */
    color: var(--white);
    background-color: var(--red);
    transition: all .2s ease-in-out;
    transform: scale(1.05); 
}
.sitepage .box .content button#code_style:hover,
.box .content button#copy:hover {
    background-color: #62101d;
}
.box{
    position: relative;
    width: 300px;
    height: 400px;
    margin: 18px 9px 0 9px;
    border-radius: 10px;
    /* background: linear-gradient(150deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 10%, rgba(0, 0, 0, .3) 50%, rgba(255, 255, 255, 0) 100%); */
    background: linear-gradient(180deg, rgba(0,0,0,.1) 0%, rgba(0,0,0,.3) 100%);
    box-shadow: 0 1px 6px 0 rgba(0,0,0,.15);
}

.sitepage .box{
    height: 400px;
}
.sitepage .box .logobg {
    height: 55%; 
    background: linear-gradient(360deg, rgba(0,0,0,.1) 0%, rgba(0,0,0,.2) 100%);
}
.sitepage .box .content {
    height: 45%; 
}
.sitepage .box .content h2 {
    margin-top: 11px;
    font-weight: 600;
    font-size: 24px;
}
.sitepage .box .logobg .rating {
    width: 27%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: var(--red);
    font-size: 18px;
    position: absolute;
    bottom: 195px;
}

.box:hover {
    /* background: linear-gradient(150deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 10%, rgba(143, 40, 40, 0.3) 50%, rgba(255, 255, 255, 0) 100%) !important; */
    background: linear-gradient(150deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 10%, rgba(65, 65, 65, 0.3) 50%, rgba(255, 255, 255, 0) 100%) !important;
    transform: scale(1.03);
    transition: all .3s ease-in-out;
}

.sitepage .box:hover {
    /* background: linear-gradient(180deg, rgba(0,0,0,.1) 0%, rgba(0,0,0,.2) 100%); */
    background: linear-gradient(180deg, rgba(0,0,0,.1) 0%, rgba(0,0,0,.3) 100%) !important; 
    transform: none;
    /* transition: all .3s ease-in-out; */
}

.box .logobg {
    /* background: linear-gradient(180deg, rgba(0,0,0,.5) 0%, rgba(0,0,0,.7) 100%); */
    background: linear-gradient(180deg, rgba(0,0,0,.1) 0%, rgba(0,0,0,.2) 100%);
    top: 0;
    width: 100%;
    height: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0 0;
}

.box .logobg a {
    height: 200px !important;
    width: 300px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box .logobg img {
    bottom: 200px;
    width: 200px;
    height: auto;
}
.box .logobg .best {
    right: 0;
    top: 0;
    position: absolute;
    width: auto;
    padding: 0 8px;
    height: 30px;
    background-color: var(--red);
    /* background-color: var(--grey); */
    border-radius: 0px 5px 0px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: TTNormsPro;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    color: white;
}

.sitepage .box .logobg .best {
    display: none;
}

.box .content {
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    z-index: 1;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content h2{
    color: var(--white);
    font-weight: 600;
    font-size: 22px;
    margin-top: 15px;
    text-transform: uppercase;
}
.content p{
    color: var(--white);
    font-weight: 500;
    font-size: 12px;
    margin-top: 13px;
    width: 220px;
    text-align: center;
    /* text-transform: uppercase; */
}
.content p:nth-child(2){
    height: 55px;
}
.content p:nth-child(3){
    color: var(--white);;
    font-weight: 600;
    font-size: 11px;
    width: 180px;
    text-align: center;
    text-transform: uppercase;
}
.content span {
    display: none;
}
.bonus_info{
    display: flex;
    align-items: center;
    top: 62px;
    height: 74px;
    width: 60%;
    background: radial-gradient(var(--opacback),transparent 80%);
}
.sitepage .content strong {
    color: rgba(255, 255, 255, .8);
    font-weight: 500;
}
.content span#bonus {
    display: block;
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, .6);
    text-align: center;
    height: auto;
    width: 100%;
}
.bonus-space {
    /* background-color: rgb(255,255,255,.05); */
    background: linear-gradient(56deg, rgba(0,0,0,0) 0%, rgba(255,255,255,.1) 50%, rgba(0,0,0,0) 100%);
    width: 55%;
    right: 0;
    height: 1px;
}
.bonus-space#first {
    width: 65%;
}
.sitepage .box .content .bonus-space#first {
    margin-top: 5px;
}
.content button{
    background-color: var(--grey);
    bottom: 15px;
    position: absolute;
    border: none;
    outline: none;
    font-family: TTNormsPro;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    padding: 6px;
    border-radius: 5px;
    transition: all .2s ease-in-out;
    color: white;
}
.content button:hover{
    background: var(--red);
}
.content button:focus{
    background: var(--red);
}
.conent button:active {
    background: transparent !important;
    color: #ffffff00 !important;
}
.content button:hover:active{
    opacity: 0;
}
.sitepage .content button#copy {
    width: 25px;
    height: 25px;
    right: 20px;
    border-radius: 50%;
    background-size: cover;
    position: absolute;
    top: unset;
    bottom: 21px;
    border: var(--red) 1px dashed;
    background-color: transparent;
    bottom: 18.6px;
}
.content button#copy {
    width: 25px;
    height: 25px;
    right: 20px;
    border-radius: 50%;
    background-size: cover;
    position: absolute;
    top: unset;
    bottom: 15.6px;
}
.credits {
    width: 180px;
    height: 60px;
    text-transform: uppercase;
    position: absolute;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
}
.credits img {
    fill: white;
    height: 100%;
    width: 100%;
}
/* footer#review .centralizer .footer-content .copyright {
    width: 52%;
}
footer#review .centralizer .footer-content .credits {
    width: 48%;
} */
.boxreview .slider-placer {
    width: 98%;
    /* margin: 0 auto; */
    height: auto;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 9px;
}
.boxreview .slider-placer a {
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    border-radius: 5px;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 6px 0 rgb(0 0 0 / 15%);
    overflow: hidden;
}
footer {
    width: 100%;
    height: 100%;
    background-color: var(--opacback);
    margin-top: 50px;
}
/* footer#review {
    margin-top: 9px;
} */
footer#review .centralizer .footer-content a {
    left: 305px;
}
footer .centralizer {
    width: 69%;
    margin: 0 auto;
}
footer .centralizer .footer-content {
    display: flex;
    align-items: center;
    height: 60px;
}
.copyright {
    width: 50%;
}
.contact {
    width: 50%;
    text-align: end;
}
.copyright,
.contact {
    color: rgba(255, 255, 255, .1);
    font-size: 13px;
    font-weight: 400;
}
@media screen and (max-width: 1340px) {
    .infoblock h1, h2, h2 {
        font-size: 20px;
    }
    .boxes-holder {
        max-width: 70%;
        margin: 0 auto;
        width: auto;
        height: 100%;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }
    .category-selector {
        max-width: 70%;
        margin: 0 auto;
        width: auto;
        height: 100%;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }
    .category-selector .category-box {
        margin: 14px 7px 0 7px;
        width: 100px;
        height: 100px;
    }
    .category-selector .category-box .category-box-logo {
        width: 100%;
    }
    .category-selector .category-box .category-box-content {
        display: none;
    }
    .pages #PageTitle, #PageSubt {
        font-size: 18px;
        text-align: center;
    }
    #FAQ {
        margin: 15px 0 0 0;
    }
    .youtube {
        display: none;
    }
    .sitepage .box {
        margin: 9px 0 9px 0 !important;
        width: 100%;
    }
    .navigation-menu {
        display: none;
    }
    .boxreview {
        left: 0;
        margin: 0 auto;
        width: 100%;
    }
    .boxreview .plusminus {
        flex-wrap: nowrap;
        flex-direction: column;
        height: 100%;
    }
    .boxreview .plusminus .criteria {
        width: 100%;
        margin: 9px 0 0 0;
    }
    .boxreview .plusminus .criteria .par h2 {
        position: static;
    }
    .boxreview .smallreview {
        margin-top: 9px;
    }
    .ratingsumm,
    .ratingthings {
        height: 200px;
    }
    .screentable {
        height: 210px !important;
    }
    input + label::after {
        height: 210px !important;
    }
    .slide {
        width: 100% !important;
    }
    .ratingthings {
        flex-wrap: nowrap;
    }
    .gamemodes {
        bottom: 294px;
    }
    .sitedetails .sitepros.active {
        height: auto !important;
        padding-bottom: 10px;
    }
    .instruction li {
        font-size: 16px !important;
    }
    .sitepage {
        height: auto;
        width: 100%;
        justify-content: flex-start;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sitedetails .sitepros {
        width: 98%;
    }
    .sitedetails .methodlist {
        width: 100%;
    }
    .sitedetails {
        margin-top: 9px;
        position: relative !important;
        left: 0 !important;
        bottom: 0 !important;
    }
    .siteleftpannel {
        position: relative;
        width: 98%;
        margin-right: 0;
        left: 0;
        top: 0;
    }
    ul .submenu{
        left: 11%;
        }
    .box{
        margin-right: 0;
        margin-top: 30px;
    }
    nav #pagename {
        font-size: 13px;
    }
    nav #pagename_active {
        font-size: 13px;
    }
    nav .logospace {
        left: 5%;
    }
    #back-to-top-btn {
        display: none;
    }
    nav .pages {
        left: 28%;
        width: 68%;
    }
    nav img {
        width: 80px;
    }
    nav .pages a {
        margin-left: 18px;
    }
    #FAQ #PageSubt {
        font-size: 12px;
    }
    footer#review .centralizer .footer-content a {
        left: 0 !important;
    }
    .copyright {
        display: none;
    }
    footer {
        margin-top: 15px;
    }
}
  
  input {
    position: absolute;  
    opacity: 0;
    margin-top: 0px;
    margin-left: 5px;
    cursor: pointer;
  }
  
  label {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: solid 2px rgba(255, 255, 255, 0.4);
    border-radius: 999px;
    background-color: transparent;
    margin: 0 6px 0 6px;
    z-index: 2;
    cursor: pointer;
    transition-duration: .2s;
    box-shadow: 0 0 20px 0 #000;
  }

  input:checked + label{
    background-color: white;
    border: solid 2px white;
  }

  input + label::after{
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' style='fill:white'%3E%3Cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center 52%;
    background-size: 40px 40px;
    transition: background-size 200ms;
    position: absolute;
    color: white;
    left: 0px;
    bottom: 0px;
    height: 550px;
    width: 80px;
    z-index: 20;
  }
  
  input + label:hover::after {
    background-size: 45px 45px;
  }
  
  input:checked + label::after {
    background-image: none;
    left: 0;
    z-index: 10;
  }
  
  input:checked + label + .slide ~ input + label::after {
    display: none;
  }
  
  input:checked + label + .slide + input + label::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' style='fill:white'%3E%3Cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z' /%3E%3C/svg%3E");
    display: block;
    width: 80px;
    right: 0;
    left: auto;
  }
  
  input:focus + label{
    border: solid 2px var(--white);
  }
  
  .slide {
    position: absolute;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    transform: translateX(-100%);
    transition-duration: .2s;
    opacity: 1;
    z-index: -1;
  }
  
  input:checked ~ .slide {
    transform: translateX(100%);
  }
  
  input:checked + label + .slide {
    transform: translateX(0);
    opacity: 1;
  }
  .slide img {
    object-fit: cover;
    width: 100%;
    height: auto;
  }
  #back-to-top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 24px;
    width: 40px;
    height: 40px;
    background-color: var(--opacback);
    color: rgba(255, 255, 255, .7);;
    cursor: pointer;
    outline: none;
    border: 2px solid rgba(0,0,0,.04);
    border-radius: 50%;
    z-index: 10000;
  }
  #back-to-top-btn:hover, #back-to-top-btn:focus {
    color: var(--white);
  }
  
  @media(max-width: 992px) {
    .container { padding: 20px 100px; }
    #back-to-top-btn { font-size: 22px; width: 40px; height: 40px; bottom: 15px; right: 15px; }
  }
  @media(max-width:768px) {
    body { font-size: 16px; }
    .container { padding: 10px 50px; }
    h1 { font-size: 26px; }
    h2 { font-size: 22px; }
    hr { margin: 30px 0; }
    #back-to-top-btn { font-size: 18px; width: 32px; height: 32px; bottom: 6px; right: 6px; }
  }
  
  .btnEntrance {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: btnEntrance;
  }

  @keyframes btnEntrance {
    from {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
  .btnExit {
    animation-duration: 0.25s;
    animation-fill-mode: both;  
    animation-name: btnExit;
  }

  @keyframes btnExit {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
  }
  ul .submenu,
  ul .submenu2 {
    position: absolute;
    width: 310px;
    margin-top: 100px;
    margin-left: 5px;
    opacity: 0;
    z-index: -999;
    border-radius: 5px;
    }
     .submenu li:hover {
        background-color: #131313;
        transition: all ease .2s;
    } 
    .submenu li {
        background-color: #1a1a1a;
        /* background-color: #101010; */
    }
    /* .submenu li:last-child {
        border-bottom: 2px solid var(--red);
    } */
    .submenu #big-category:hover a {
        color: var(--red);
        /* transition: all ease .2s; */
    }
    .submenu2 a {
        color: var(--white) !important;
        /* transition: all ease .2s; */
    }
    .submenu #big-category a:hover,
    .submenu2 a:hover {
        color: var(--red) !important;
    }
    .submenu2 {
        color: var(--white);
    }
    .submenu #big-category:nth-child(1) {
        margin-top: 18px;
    }
    #big-category i {
        right: 0;
    }
    ul li:hover .submenu{
    z-index: 90;
    opacity: 1;
    margin-top: 100px;
    transition: opacity ease-in-out .15s;
    }
    ul #big-category:hover .submenu2{
        z-index: 90;
        opacity: 1;
        margin-top: 0px;
        margin-left: 310px;
        transition: opacity ease-in-out .15s;
        border-left: 2px solid rgba(0,0,0,.1);
    }
    ul li .submenu2 li,
    ul li .submenu li{
        /* border-bottom: 2px solid rgba(255,255,255,.01); */
        border-bottom: 2px solid rgba(0,0,0,.1);
    }    
    ul .submenu li{
    margin: 0;
    width: 100%;
    } 
    ul .submenu li a{
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    }
    ul .submenu a {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 16px;
        font-weight: 600;
    }
    .lang-menu {
        width: 40px;
        text-align: right;
        font-weight: 600;
        margin-top: 1px;
        position: absolute;
        right: 19%;
        color: rgba(255, 255, 255, .3);
        transition: all .3s ease-in-out;
    }

    .lang-menu .selected-lang {
        display: flex;   
        justify-content: center;
        cursor: pointer;
        transition: all .3s ease-in-out;
    }
    .lang-menu .selected-lang:hover {
        color: var(--white);
        transition: all .3s ease-in-out;
    }
    .lang-menu ul {
        margin: 0;
        padding: 0;
        display: none;
        position: absolute;
        padding-top: 10px;
        right: 0px;
        width: 40px;
        border-radius: 5px;
    }
    
    .lang-menu ul li {
        list-style: none;
        text-align: left;
        display: flex;
        justify-content: space-between;
    }
    
    .lang-menu ul li a {
        text-decoration: none;
        width: 40px;
        text-align: center;
        padding: 10px 0;
        display: block;
        color: rgba(255, 255, 255, .3);
        background-color: #101010;
    }
    
    .lang-menu ul li:hover a {
        color: var(--white);    
        transition: all .1s ease-in-out;
    }
    
    .lang-menu:hover ul {
        display: block;
    }
  