@font-face {
    font-family: 'TTNormsPro';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url('./TTNormsPro/TTNormsPro-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'TTNormsPro';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url('./TTNormsPro/TTNormsPro-Medium.woff2') format('woff2');
}
@font-face {
    font-family: 'TTNormsPro';
    font-style: normal;
    font-display: swap;
    font-weight: 600;
    src: url('./TTNormsPro/TTNormsPro-Bold.woff2') format('woff2');
}
@font-face {
    font-family: 'TTNormsPro';
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: url('./TTNormsPro/TTNormsPro-ExtraBold.woff2') format('woff2');
}